@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.navtext {
  font-family: "Titan One", cursive;
  color: #2f754c;
}

.txt-clr-grn {
  color: #2f754c;
}

body {
  /* Hex code of a froggy colored green background */
  background-color: #344230;
  font-family: Arial, Helvetica, sans-serif;
  place-items: center;
}

.postbody {
  display: grid;
  place-items: center;
  background-color: #b4a7d6;
  font-family: Arial, Helvetica, sans-serif;
}

.navhover:hover {
  color: #344230;
}

.wrapper {
  display: grid;
  place-items: center;
  background-color: #e4eee2;
  /* background-color: #7c9461; */
  padding: 20px;
  width: 500px;
  border-radius: 10px;
}

.profilewrapper {
  display: grid;
  background-color: #e4eee2;
  border-radius: 10px;
}

.upload-heading {
  background-color: #e4eee2;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.upload-submit {
  background-color: #2f754c;
  border-radius: 20px;
  margin-bottom: 20px;
  color: #e4eee2;
}

.edit-prof-btn {
  background-color: #2f754c;
  color: #e4eee2;
}

.notice-bg {
  background-color: #e4eee2;
}
